.user-profile {
    display: flex;
    align-items: center;
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-name {
    margin-right: 10px;
  }
  
  .user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .user-details {
    margin-left: auto;
    text-align: right;
  }
  