.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 20px 20px; /* Increased height */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Box shadow */
    border-bottom: 2px solid rgb(228, 231, 237); /* Underline at the bottom */
  }
  
  .navbar-left {
    /* Add styles for the left side */
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    margin-right: 8vw;
  }
  
  .nav-item {
    margin-right: 75px; /* Increased right margin */
    cursor: pointer;
  }
  
  .nav-item:last-child {
    margin-right: 0; /* No right margin for the last item */
  }
  
  .nav-item.active {
    border-bottom: 2px solid blue;
  }
  